# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 21d46ea749e43e9f84cb95eae3505e5ac600e4516413cfe3ace7af3cad6e71623aed0e2ad84292385c45a4e3e7f7fa2a4067d104618c98ec3204868a31a08c9d

test:
  secret_key_base: 894412db5ecfb7d78413526e27314fbcc0361e793a7dbdcdfa80d3ab678b0430fac6092713f0c274eec735e9fbf84129f0f4c8d5d25e3fdf02038640ab6a7f07

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
