.represent-image {
  height: 400px;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button {
    position: absolute;
    display: block;
    bottom: 15px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    &:hover, &:active:focus {
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.nearby-places {
  margin: 20px 0;
  h3 {
    margin-top: 0;
  }
}

.images-slider {
  > div {
    padding: 10px 0;
  }
  .slider-nav {
    .slick-slide {
      width: auto !important;
      height: 100px !important;
      padding: 0 5px;
      img {
        height: 100% !important;
        width: auto !important;
      }
    }
  }
  .slider-for {
    height: 400px;
    text-align: center;
    overflow-x: auto;
    img {
      height: 100% !important;
      width: auto !important;
    }
  }
}

.comments {
  margin: 40px 0;
  .comment-posts {
    margin: 20px 0;
  }
}
