@font-face {
  font-family:"Montserrat";
  src:font-url('fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Roboto";
  src:font-url('fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

p, button {
  line-height: 1.8;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif !important;
  a {
    font-family: "Montserrat", sans-serif !important;
  }
}

.navbar {
  margin-bottom: 0 !important;
}
