<h1>User: <%= @user.name %> </h1>

<div>
  <h3>Email: <%= @user.email %></h3>
  <h5>Admin? <%= check_box_tag(:is_admin, 1, @user.is_admin?, disabled: true) %></h5>
  <h5>Created_at: <%= @user.created_at %></h5>
</div>
